# Основные библиотеки
numpy==1.23.5
scipy
matplotlib>=3.7.0
scikit-learn
pandas
tqdm>=4.63.1

# Аудио
librosa==0.9.1
pydub>=0.25.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0
pyworld==0.3.2
audioread
resampy>=0.4.2
praat-parselmouth>=0.4.2
ffmpy==0.3.1

# Нейросети
fairseq==0.12.2
faiss-cpu==1.7.3
tensorboardX
tensorboard
torchcrepe==0.0.20
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'

# Веб
gradio==4.29.0
fastapi==0.88
uvicorn>=0.21.1
httpx

# Утилиты
joblib>=1.1.0
numba==0.56.4
llvmlite==0.39.0
Cython
Werkzeug>=2.2.3
python-dotenv>=1.0.0
colorama>=0.4.5
PyYAML>=6.0
tabulate>=0.8.10
json5
Markdown
sympy>=1.11.1
absl-py>=1.2.0
fsspec>=2022.11.0
uc-micro-py>=1.0.1
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
av
matplotlib-inline>=0.1.3

# Другое
torchfcpe
